.background {
  background-color: #48bbc2;
  min-height: 150vh;
}

.inline-block {
  padding-top: 15%;
  display: flex;
}

.logo {
  width: 500px;
}

.messages {
  transform: translate(0px, -60px);
}

.images {
  transform-origin: 0 0;
}

.label {
  position: absolute;
  transform: translate(80px,-50px);
}